/***************************
Font Setting
****************************/
@font-face {
    font-family: 'MeteoconsRegular';
    src: url('../fonts/meteocons-webfont.eot');
    src: url('../fonts/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/meteocons-webfont.woff') format('woff'),
         url('../fonts/meteocons-webfont.ttf') format('truetype'),
         url('../fonts/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/***************************
Override jQuery Mobile CSS
****************************/
.main { 
  background-color: #30ACFF; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, #006EB8, #30ACFF); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image:    -moz-linear-gradient(top, #006EB8, #30ACFF); /* For Firefox (3.6 to 15) */
  background-image:      -o-linear-gradient(top, #006EB8, #30ACFF); /* For old Opera (11.1 to 12.0) */ 
  background-image:         linear-gradient(to bottom, #006EB8, #30ACFF); /* Standard syntax; must be last */ 
  color: #fff;

}

.page_header {
    background: rgba(25,90,133, 0.5);
    border: none;
}

#left-panel a {
    color: #fff;
}

#bars {
    color: rgba(25,90,133, 0);
}

/***************************
Listview Panel
****************************/
.fa-map-marker {
  padding-right: 10px;
}

/***************************
Page Header
****************************/
.ui-title {
    font-weight: normal;
}

.ui-header #location i {
    padding-right: 5px;
}

.ui-header #location span {
   font-size: 0.5em;
   line-height: 0;    
}

.active {
    color: red;
}


/***************************
Current Content
****************************/

.icon:before {
	font-family: 'MeteoconsRegular';
	content: attr(data-icon);
    margin-right: 10px;
}

#current_temp {
	font-size: 3em;
    font-weight: 300;
}

#current_summary {
	font-size: 0.9em;
    font-weight: normal;
    margin: 0;
}

.content #current_info {
	text-align: center;
}

.precip {
    margin: 5px 0 0;
    font-size: 0.8em; 
}

.precip i {
    margin-right: 5px;
}

.precip i.fa-long-arrow-up, .precip i.fa-long-arrow-down {
    margin-left: 5px;
}

.precip i:before {
    padding-right: 3px; 
}

h2 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

#tap {
    width: 40%;
    max-width: 120px;
    margin: 0 auto;
    display: none;
    line-height: 0.5em;
    font-size: 0.7em;
    margin-top: 19px;
}

#tap span {
    float: right;
}

[data-icon*='G']:before {
    margin-right: 0;
}

/***************************
Forecast Content
****************************/

#forecast {
    max-width: 300px;
    height: 330px;
    margin: 20px auto 0;
    background-color: rgba(0,0,0,0.2);
}

#forecast h2 {
    font-size: 0.9em;
    font-weight: normal;
    padding: 5px;
}

#hourly {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 98%;
    max-width: 294px;
    max-height: 77px;
    margin: 0 auto;
    overflow: hidden;  
}

#hourly ul {
    list-style: none;
    padding-left: 1%;
    margin: 10px 0;
    width: 900%;
}

#hourly ul li {
    display: inline-block;
    text-align: center;
    padding-right: 3.5px; 
    height: 100%;
}

#hourly ul li span {
    display: block;
}

#hourly ul li span.hour {
    font-size: 0.65em;
}

#hourly ul li span.icon {
    padding-left: 8px;   
}

#hourly ul li span.hour, #hourly ul li span.icon {
    margin-bottom: 3px;
}

#hourly ul li span.hour-temp {
    font-size: 0.75em;
}

#daily {
    width: 98%;
    max-width: 294px;
    margin: 0 auto;
}

#daily ul {
   list-style: none;
   margin: 10px 0;
   padding: 0 3%;
}

#daily ul li {
    display: block;
    padding: 10px 0 5px; 
    border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
}

#daily ul li:first-child {
    padding-top: 0; 
} 

#daily ul li span.dayofweek {
    font-size: 0.8em;
    float: left;
    width: 45%;
}

#daily ul li span.icon {
    width: 35%;
}

#daily ul li span.maxMinTemp {
    font-size: 0.8em;
    float: right;  
}

#hide {
    width: 100%;
    padding: 10px 0 0;

}

#extended {
    width: 98%;
    padding: 0 3%;
    margin: 0 auto;
    font-size: 0.65em;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.7);
}

#extended span {
    cursor: pointer;
}

#more {
    float: right;
    margin-right: 10px; 
    color: rgba(255, 255, 255, 1);
}

#ef {
    color: rgba(255, 255, 255, 1);
}

#more a {
    text-decoration: none;
}

.highlighted {
    color: rgba(255, 255, 255, 1);
}

/***************************
Extended Forecast Content
****************************/
#backbtn {
    color: rgba(25,90,133, 0);
}

.ui-btn-icon-left:after, 
.ui-btn-icon-right:after, 
.ui-btn-icon-top:after, 
.ui-btn-icon-bottom:after, 
.ui-btn-icon-notext:after {
    background-color: transparent;
}

#title {
    font-size: 0.9em;
}

.dailyinfo {
    background: rgba(0, 110, 184, 0.9);
}

.details {
    margin-bottom: 10px;
}

.day_info {
    width: 52%;
    float: left;
    padding: 5px 0 0 3%;
}

.sun_info {
    padding-top: 3px;
    width: 45%;
    float: right;
}

.day_info span {
    display: block;
}

.day_info span#weekday {
   font-size: 0.85em;
   padding-bottom: 2px; 
}

.day_info span#date {
    font-size: 0.7em;
    color: #33ADFF;
    text-transform: uppercase;
}

.sun_info ul {
    list-style: none;
    margin: 0;
}

.sun_info ul li {
    display: inline-block;
    text-align: right; 
}

.sun_info ul li:nth-child(2) {
    padding-left: 8px; 
}

.sun_info ul li span {
    display: block;
}

.sun_info ul li#icon {
    margin-bottom: 3px;
}

.sun_info ul li span.sunrise, .sun_info ul li span.sunset {
    font-size: 0.5em;
}

.more_details {
    background: rgba(0,0,0,0.2);
    padding: 0 1%;
}

.more_details h1 {
    font-size: 0.9em;
    margin-top: 3px;
    margin-bottom: 0;
    padding: 8px 0 5px 5px;
    font-weight: normal;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.pattern {
    width: 43%;
    float: left;
}

.pattern h2 {
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    padding-top: 16%;
}

.specific {
    width: 55%;
    float: right;
}

.specific ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.specific ul li {
    display: block;
    font-size: 0.68em;
    padding: 6px 3px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
    text-align: left;
}

.specific ul li:last-child {
    border-bottom: none;
}

.specific ul li span {
    font-size: 1.2em;
    float: right;
    padding-right: 6px;
}

.summary {
    border-top: 1px dotted rgba(255, 255, 255, 0.3);
}

.summary h2 {
    font-size: 0.9em;
    font-weight: normal;
    padding: 5px 0 5px 5px;
    color: #33ADFF;
}

.summary p {
    font-size: 0.7em;
    margin: 0;
    font-weight: normal;
    padding-bottom: 10px; 
    padding-left: 5px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}


